@import url('https://fonts.googleapis.com/css?family=Caveat|Jura|Neucha|Audiowide&display=swap');
body {
  background-color: #04134a;
  font-family: "Jura";
  font-weight: 300;
  font-size: 20px;
  color: #d4ddff;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h5, h6 {
  font-family: "Jura";
  font-weight: 300;
  color: #e8edff;
}

h3 {
  font-family: "Audiowide";
  font-size: 40px;
  color: #e8edff;
}

h4 {
  font-family: "Audiowide";
  font-size: 30px;
  color: #d4ddff;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-family: "Jura";
  color: #e1e2e6;
}

a {
  color: #ebf0ff;
}

a:hover, a:focus {
  color: #00eaff;
  text-decoration: none;
  outline: 0;
}

.img_wrap {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-style: solid;
}

.img_wrap2 {
  display: block;
  max-width: 100%;
  height: 400px;
  width: 600px;
  overflow: hidden;
  border-style: solid;
  margin: 15px;
}

.site-header {
    background-color: #04134a;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid #e8edff;
}

.display-4 {
  font-family: "Neucha";
  font-size: 50px;
  color: #04134a;
}

.lead {
  font-family: "Caveat";
  font-size: 30px;
  font-weight: 400;
  color: #04134a;
}

.container > li {
  display: inline-block;
  position: relative;
}

.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 220px;
  background: #04134a;
  border-radius: 10px;
  border-color: #000824;
  border-style: double;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.container > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-family: 'Jura', serif;
  font-size: 18px;
  padding: 5px 10px;
  transition: .2s linear;
}

.btn{
    background: #f2f3f5;
    font-family: 'Jura';
    font-size: 18px;
    font-weight: bold;
}
.btn:focus{
    background: #acaeb0;
}

.col-md-6 {
  padding: 30px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 980px) {
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.8;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-99px;
    background: url('../img/icon_top.png') no-repeat;
}

.img {
  border-style: solid;
  max-width: 100%;
  display: block;
  height: auto;
  width: 300px;
  margin-top: 50px;
}

.text {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 28px;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .text {
    margin-left: 0px;
    margin-right: 0px;
  }
}

dl {
  text-align: justify;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 38px;
  font-size: 22px;
  color: #e1e2e6;
}

dl>dt {
  color: #d4ddff;
}

@media (max-width: 1024px) {
  dl {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
  }
}


#thumbs { padding-top: 10px; overflow: hidden; }
#thumbs img, #largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
}
#thumbs img {
    float: left;
    margin-right: 6px;
}
#description {
    background: black;
    color: white;
    position: inherit;
    bottom: 0;
    padding: 10px 20px;
    width: 525px;
    margin: 5px;
}
#panel { position: relative; }
